

body {
background: url("") no-repeat fixed ;
font-family: 'Nunito', sans-serif ;
z-index: -1;
}

.blurb h2{
  color: #7d48e3;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p{
  color: #9d3fc4;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

#mainnav {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainnav .navbar-brand {
  color: white;
}

#mainnav .nav-link {
  color: white;
}

#mainnav .nav-link:hover {
  color: ;
}

#header{
  background: url("jumboback.jpeg") center center / cover no-repeat;
}

#headinggroup h2{
  font-weight: 100;
  font-size: 3.8rem;
}

#gallery .card {
 z-index: 2;
}

#gallery .card:hover {
  box-shadow: 2px 2px 2px 2px #f0a8a3 ; /*mb-5 bg-white rounded */
  padding: 3px 3px ;
  border: ;
}

.navbar.scrolled{
  background: rgb(245, 66, 96);
  transition: background 200ms;
}

@media (max-width: 1200px) {
  #headinggroup h2{
    font-weight: 100;
    font-size: 3rem;
  }
}
