doctype html 
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      script(src='https://js.stripe.com/v3/')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title Licious | #{title}

  body
    main.main
      .login-form
            h2.heading-secondary.ma-bt-lg Create Account
            form.form.form--signup
              .form__group
                label.form__label(for='Name') Name
                input#name.form__input(type='name', placeholder='Enter name', required)
                label.form__label(for='email') Email address
                input#email.form__input(type='email', placeholder='you@example.com', required)

              .form__group.ma-bt-md
                label.form__label(for='password') Password
                input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                label.form__label(for='passwordConfirm') PasswordConfirm
                input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
              
              .form__group
                button.btn.btn--green Signup
    
    footer.footer
        .footer__logo
            img(src='/img/logo-green.png' alt='Licious logo')
        ul.footer__nav
            li: a(href='#') About us
            li: a(href='#') Download apps
            li: a(href='#') Become a chef
            li: a(href='#') Careers
            li: a(href='#') Contact
        p.footer__copyright &copy; by Ishwak. Feel free to use this project for your own purposes!

    script(src="/js/bundle.js")